* {
  font-size: 18px;
}

header {
  display: flex;
}

.logo {
  flex: 1;

}

.name {
  flex-grow: 8;
  text-align: center;
}

nav {
  position: relative;
  flex: 1;
}

.navbutton {
  text-align: right;
}

nav ul.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
  position: absolute;
  right: 0px;
  text-align: right;
}

nav:hover ul {
  display: block;
}
/* End of header Style */

main {
  min-height: 200px;
  border: 1px solid black;
}

/* End of Main Content styles */

footer {
  text-align: center;
  /* possiblitity of background image for footer */
}

/* End of Footer Styles */
